.button {
  background-color: #5680e9;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  border-right: 1px solid #aaa;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  font-family: "Alegreya", serif;
  font-size: 1.7rem;
}
.picture-box div {
  background-color: #8860d0;
  width: 300px;
  height: 300px;
  border: 15px solid #8860d0;
  padding: 3px;
  margin: 20px;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
}
h1 {
  font-size: 4rem;
  padding-bottom: 2%;
  font-family: "Alegreya", serif;
}
h2 {
  font-size: 3rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.8rem;
  font-family: "Lato", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.header {
  background-color: white;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}
.header .logo {
  float: left;
  display: block;
}
.header .menu-btn {
  display: none;
}
.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}
.header .menu-icon {
  padding: 28px 20px;
  position: relative;
  float: right;
  cursor: pointer;
}
@media (min-width: 850px) {
  .header .menu-icon {
    display: none;
  }
}
.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background 0.2s ease-out;
}
.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: 5px;
}
.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  top: -5px;
}
.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: white;
}
@media (min-width: 850px) {
  .header ul li {
    float: left;
  }
}
.header ul li a {
  background-color: #5680e9;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  border-right: 1px solid #aaa;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  font-family: "Alegreya", serif;
  font-size: 1.7rem;
}
@media (min-width: 850px) {
  .header ul li a {
    margin-top: 28px;
    padding: 10px 10px;
  }
}
.header ul li a:hover {
  background-color: white;
  color: #5680e9;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}
@media (min-width: 850px) {
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
}
footer {
  width: 100%;
}
footer nav {
  width: 90%;
  margin-left: 6%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  padding-top: 3%;
  margin-left: 0%;
  transition: max-height 0.2s ease-out;
}
@media (min-width:850px) {
  footer nav {
    flex-direction: row;
    justify-content: space-around;
  }
}
footer nav a {
  background-color: #5680e9;
  color: white;
  display: block;
  margin: 10px;
  padding: 10px;
  border-right: 1px solid #aaa;
  text-decoration: none;
  text-align: center;
  border-radius: 15px;
  font-family: "Alegreya", serif;
  font-size: 1.7rem;
  background-color: #3e6be6;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
footer nav a:hover {
  background-color: white;
  color: #5680e9;
}
@media (min-width:850px) {
  footer nav a {
    width: 30%;
  }
}
footer h3 {
  text-align: center;
  font-size: 1.8rem;
}
body {
  margin: 0;
  width: 100%;
  background-color: #c1c8e4;
}
.main-container {
  width: 90%;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 120px;
}
.main-container .img-text-section {
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
@media (min-width:850px) {
  .main-container .img-text-section {
    flex-direction: row;
  }
}
.main-container .img-text-section .text-section {
  width: 100%;
  padding: 3% 5%;
  background-color: #c1c8e4;
  border: 10px solid #8860d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width:850px) {
  .main-container .img-text-section .text-section {
    width: 48%;
  }
}
.main-container .img-text-section .img-section {
  width: 100%;
  padding-left: 1%;
}
@media (min-width:850px) {
  .main-container .img-text-section .img-section {
    width: 48%;
  }
}
.main-container .divider {
  width: 100%;
  margin-bottom: 3%;
}
.about-container {
  padding-top: 120px;
}
.about-container h1 {
  text-align: center;
}
.about-container .row {
  display: flex;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.about-container .row div {
  background-color: #8860d0;
  width: 300px;
  height: 300px;
  border: 15px solid #8860d0;
  padding: 3px;
  margin: 20px;
}
.about-container .row a {
  text-decoration: none;
  color: black;
}
