.footer {
  width: 100%;
  border-top: 2px dashed silver;
  background-image: linear-gradient(to right, #8860d0 ,#c1c8e4);

  p {
    text-align: center;
    color: @font-color;
    font-size: 1.6rem;
    padding: 20px;
  }
}
