// Navigation Styles here

//----Variables----\\


//-------------\\

//-------Mix-in's -----\\
  .flex{
    display:flex;
    justify-content: space-around;

  }

//---------------------\\
// .header{
//
// }
// nav {
//   padding:25px 0;
//
// 	ul {
// 		.flex;
//     justify-content: space-between;
//     font-size: 1.8rem;
//     align-items: center;
//
// 	li {
// 		/* required for logo positioned in center */
// 		flex-basis: 80px;
//     flex:0 1 10vw;
//     border-right: 1px solid black;
//     padding:20px;
//     font-size: 1.75rem;
//
//     @media @mobile{
//       font-size: .75rem;
//     }
// 	}
//
// 	a {
// 		padding: .5em;
//     text-decoration: none;
//     text-align: center;
//
// 	}
//
// 	li:first-child,
// 	li:nth-child(n + 5) {
// 		order: 3;
// 	}
//
// 	li:nth-child(n + 5) {
// 		text-align: right;
// 	}
//
// 	/* margin auto center aligns logo */
// 	li:first-child {
// 		margin-left: auto;
// 		margin-right: auto;
// 		flex-basis: auto;
//     border-right: none;
// 	}
//
// 	/* demo style for logo */
// 	li:first-child {
// 		position: relative;
// 		z-index: 2;
//
//
// 		&:before {
// 			content: "";
// 			.flex;
// 			align-items: center;
// 			justify-content: center;
// 			position: absolute;
// 			top: 50%;
// 			left: 50%;
// 			transform: translate(-50%, -50%);
// 			width: 100px;
// 			height: 100px;
// 			z-index: 1;
// 		}
// 	}
//
// }
//
//         @media @desktop {
//             .navbar {
//                 display: flex;
//                 justify-content: space-between;
//                 padding-bottom: 0;
//                 height: 70px;
//                 align-items: center;
//             }
//
//             .main-nav {
//                 display: flex;
//                 margin-right: 30px;
//                 flex-direction: row;
//                 justify-content: flex-end;
//             }
//
//             .main-nav li {
//                 margin: 0;
//             }
//
//             .nav-links {
//                 margin-left: 40px;
//             }
//
//             .logo {
//                 margin-top: 0;
//             }
//
//             .navbar-toggle {
//                 display: none;
//             }
//
//             .logo:hover,
//             .nav-links:hover {
//                 color: rgba(255, 255, 255, 1);
//             }
// }
// }



// -------------------PART 2 -------------------------------

a{
  color: #000;
}

.header{
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
  width:100%;
  z-index: 3;
  }

  ul{
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
    }


    a{
      display: block;
      padding: 20px;
      border-right:1px solid #aaa;
      text-decoration: none;
      text-align: center;
      font-size: medium;
    }

    a:hover{
      background-color: #ddd;
    }

    .logo{
      float: left;
      display: block;
      width:50%;
      height: 50%;
      //font-size: 2em;
      padding: 10px 20px;
    }

    .menu{
      clear: both;
      max-height: 0;
      transition:max-height .2s ease-out;
    }

    .menu-icon{
      padding: 20px 28px;
      position: relative;
      float: right;
      cursor: pointer;
    }

      .nav-icon{
        background: #333;
        display: block;
        height: 2px;
        width: 18px;
        position: relative;
        transition:background .2s ease-out;
      }

      .nav-icon:before{
        background: #333;
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: 5px;
      }

      .nav-icon:after{
        background: #333;
        content:"";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        top: -5px;
      }

    .menu-btn{
      display: none;
    }

    .menu-btn:checked ~ .menu{
      max-height: 240px;
    }


    .menu-btn:checked ~ .menu-icon .nav-icon{
      background:transparent;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon:before{
      transform: rotate(-45deg);
      top:0;
    }
    .menu-btn:checked ~ .menu-icon .nav-icon:after{
      transform: rotate(45deg);
      top:0;
    }

    @media (min-width: 48em) {
  .header {

  }

    .logo{
      width:25%;
      background-color: #fff;
    }

    li {
      float: left;
    }
      a {
        padding: 20px 30px;
      }
  .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .menu-icon {
    display: none;
  }

}
