// Navigation Styles here

//----Variables----\\


//-------------\\

//-------Mix-in's -----\\
  .flex{
    display:flex;
    justify-content: space-around;

  }

//---------------------\\

nav {
  padding:25px 0;

	ul {
		.flex;
    justify-content: space-between;
    font-size: 1.8rem;
    align-items: center;

	li {
		/* required for logo positioned in center */
		flex-basis: 80px;
    flex:0 1 10vw;
    border-right: 1px solid black;
    padding-left:25px;
    font-size: 1.75rem;

    @media @mobile{

    }
	}

	a {
		padding: .5em;
    text-decoration: none;

	}

	li:first-child,
	li:nth-child(n + 5) {
		order: 3;
	}

	li:nth-child(n + 5) {
		text-align: right;
	}

	/* margin auto center aligns logo */
	li:first-child {
		margin-left: auto;
		margin-right: auto;
		flex-basis: auto;
    border-right: none;
	}

	/* demo style for logo */
	li:first-child {
		position: relative;
		z-index: 2;


		// &:before {
		// 	content: "";
		// 	.flex;
		// 	align-items: center;
		// 	justify-content: center;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	transform: translate(-50%, -50%);
		// 	width: 100px;
		// 	height: 100px;
		// 	z-index: 1;
		// }
	}

}

        @media @desktop {
            .navbar {
                display: flex;
                justify-content: space-between;
                padding-bottom: 0;
                height: 70px;
                align-items: center;
            }

            .main-nav {
                display: flex;
                margin-right: 30px;
                flex-direction: row;
                justify-content: flex-end;
            }

            .main-nav li {
                margin: 0;
            }

            .nav-links {
                margin-left: 40px;
            }

            .logo {
                margin-top: 0;
            }

            .navbar-toggle {
                display: none;
            }

            .logo:hover,
            .nav-links:hover {
                color: rgba(255, 255, 255, 1);
            }
}
}
